/*This css file will apply to all individual recipe pages in the same directory*/

body {
    background-color: bisque;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
    width: 300px;
    height: auto;
}
