/* This css file will apply to the index.html file in the same directory. */

body {
    background-color:bisque;
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

* {
    border: 2px solid red;
}